<!-- Extracted from your index.html footer section -->
<footer class="footer mt-auto">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3">
        <p>Dira GeoSystems</p>
        <p id="FindUsEn" class="lang-en">Find us on <a href="https://github.com/dirageosystems"><img src="dist/img/icons/github-mark-white.svg" width="20" alt="GitHub"> GitHub</a></p>
        <p>ABN: 31 105 634 785</p>
      </div>

      <div class="col-lg-3">
        <p><a href="https://www.dirageosystems.com.au" title="Dira GeoSystems">www.dirageosystems.com.au</a></p>
        <p><a href="mailto:hello@dirageosystems.com.au">hello@dirageosystems.com.au</a></p>
        <p><a href="tel:+61494066467">+61 494 066 467</a></p>
      </div>

      <div class="col-lg-6 small-font lang-en">
        <p>Dira GeoSystems acknowledges the many Traditional Owners of the lands on which we operate, and pay our respects
          to their Elders past, present and emerging. We recognise their strengths and enduring connection to lands,
          waters and skies as the Custodians of the oldest continuing cultures on the planet. Dira GeoSystems Australia
          remains committed to actively contributing to Australia’s reconciliation journey.</p>
      </div>
    </div>
  </div>
</footer>
