<!-- Extracted from your index.html footer section -->
<footer class="footer mt-auto">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3">
        <p>Dira GeoSystems AG</p>
        <p><a href="https://www.dirageosystems.ch/" title="Dira GeoSystems AG">www.dirageosystems.ch</a></p>
      </div>
      <div class="col-lg-3">
        <p><a href="mailto:hello@dirageosystems.ch">hello@dirageosystems.ch</a></p>
        <p><a href="tel:+41442448442">+41 44 244 84 42</a></p>
      </div>
      <div class="col-lg-3 offset-lg-3">
        <p class="lang-de">Finde uns auf <a href="https://github.com/dirageosystems"><img src="/dist/img/icons/github-mark-white.svg" width="20" alt="GitHub"> GitHub</a></p>
        <p class="lang-en">Find us on <a href="https://github.com/dirageosystems"><img src="/dist/img/icons/github-mark-white.svg" width="20" alt="GitHub"> GitHub</a></p>
        
        <p class="lang-de">
            <a href="/privacypolicy.html" title="privacy policy">Datenschutz</a> /
            <a href="/impressum.html" title="imprint">Impressum</a>
        </p>
        <p class="lang-en">
            <a href="/privacypolicy.html" title="privacy policy">Privacy Policy</a> /
            <a href="/impressum.html" title="imprint">Imprint</a>
        </p>
      </div>
    </div>
  </div>
</footer>
