<header>
    <nav class="navbar navbar-expand-lg border-bottom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/dist/img/DIRA_Logo_v2_DIRA_LOGO_black_blue.svg" alt="Dira GeoSystems AG" height="80"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/#dira"><span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">DIRA</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/#products" data-bs-toggle="dropdown" aria-expanded="true">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Products</span>
                        </a>
                        <ul class="dropdown-menu" data-bs-popper="static">
                            <li class="nav-item-1">
                                <a class="dropdown-item" href="/#locationfinder">Location Finder</a>
                            </li>
                            <li class="nav-item-1">
                                <a class="dropdown-item" href="/#prosuite">Pro Suite</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/#services"><span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Services</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/#team"><span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Team</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/#contact"><span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact</span></a></li>
                </ul>
                <ul class="navbar-nav ml-auto ms-lg-5">
                    <li class="nav-item">
                        <a class="nav-link nav-link-lang" href="#" data-lang="de" id="langDe">de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-lang" href="#" data-lang="en" id="langEn">en</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
