<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/dist/img/DIRA_Logo_v2_DIRA_LOGO_black_blue.svg"
                                                  alt="Dira GeoSystems AG" height="80"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle lang-de" href="#" data-bs-toggle="dropdown"
                           aria-expanded="true">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Produkte</span>
                        </a>
                        <a class="nav-link dropdown-toggle lang-en" href="#" data-bs-toggle="dropdown"
                           aria-expanded="true">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Products</span>
                        </a>
                        <ul class="dropdown-menu" data-bs-popper="static">
                            <li class="nav-item-1">
                                <a class="dropdown-item" href="prosuite.html">ProSuite</a>
                            </li>
                            <li class="nav-item-1">
                                <a class="dropdown-item" href="locationfinder.html">LocationFinder</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lang-de" href="services.html">
                            <span data-bs-toggle="collapse"
                                  data-bs-target=".navbar-collapse.show">Dienstleistungen</span>
                        </a>
                        <a class="nav-link lang-en" href="services.html">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Services</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lang-de" href="about.html">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Über uns</span>
                        </a>
                        <a class="nav-link lang-en" href="about.html">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">About</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
