<!doctype html>
<html class="h-100" lang="en" id="htmlTag">
<head>
    <meta charset="utf-8">
    <title>Dira GeoSystems</title>
    <meta name="description" content="Dira GeoSystems creates software for producing top quality geodata and the most beautiful maps">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/css/custom.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="dist/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="dist/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="dist/icons/favicon-16x16.png">
    <link rel="manifest" href="dist/icons/site.webmanifest">
    <link rel="mask-icon" href="dist/icons/safari-pinned-tab.svg" color="#284b9a">
    <link rel="shortcut icon" href="dist/icons/favicon.ico">
    <link rel="canonical" href="https://www.dirageosystems.ch">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="dist/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<header>
    <nav class="navbar navbar-expand-lg border-bottom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/dist/img/DIRA_Logo_v2_DIRA_LOGO_black_blue.svg" alt="Dira GeoSystems AG" height="80"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle lang-de" href="#" data-bs-toggle="dropdown" aria-expanded="true">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Produkte</span>
                        </a>
                        <a class="nav-link dropdown-toggle lang-en" href="#" data-bs-toggle="dropdown" aria-expanded="true">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Products</span>
                        </a>
                        <ul class="dropdown-menu" data-bs-popper="static">
                            <li class="nav-item-1">
                                <a class="dropdown-item" href="locationfinder.html">Location Finder</a>
                            </li>
                            <li class="nav-item-1">
                                <a class="dropdown-item" href="prosuite.html">Pro Suite</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle lang-de" href="#" data-bs-toggle="dropdown" aria-expanded="true">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Dienstleistungen</span>
                        </a>
                        <a class="nav-link dropdown-toggle lang-en" href="#" data-bs-toggle="dropdown" aria-expanded="true">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Services</span>
                        </a>
                        <ul class="dropdown-menu" data-bs-popper="static">
                            <li class="nav-item-1">
                                <a class="dropdown-item lang-de" href="services.html">Übersicht</a>
                                <a class="dropdown-item lang-en" href="services.html">Overview</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lang-de" href="about.html">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Über uns</span>
                        </a>
                        <a class="nav-link lang-en" href="about.html">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">About</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lang-de" href="contact.html">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Kontakt</span>
                        </a>
                        <a class="nav-link lang-en" href="contact.html">
                            <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto ms-lg-5">
                    <li class="nav-item">
                        <a class="nav-link nav-link-lang" href="#" data-lang="de" id="langDe">de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-lang" href="#" data-lang="en" id="langEn">en</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</html>
